.detail-container {
    padding: 50px 0;
}

.detail-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.detail-card h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.detail-card p {
    font-size: 18px;
    margin-bottom: 15px;
}

.detail-card img {
    width: 60%;
    margin-bottom: 25px;
    border-radius: 4px;
}

.modal-title em {
    color: #e74c3c; 
}
