.detail-container {
    padding: 50px 0;
}

.programmation-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.programmation-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.programmation-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.programmation-card img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.modal-title em {
    color: #e74c3c; /* Rouge pour mettre en évidence le nom du film à supprimer */
}
