/* Header.css */

.bg-body-tertiary {
    background-color: #333;
    border-bottom: 1px solid #ddd;
}

.header-logo {
    width: 120px; /* Ajustez la taille du logo comme vous le souhaitez */
    height: auto; /* Gardez les proportions du logo */
}

.navbar {
    font-family: Arial, sans-serif;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
}

.nav-link:hover {
    color: #50b3a2;
}

/* Pour améliorer la lisibilité sur les petits écrans */
@media (max-width: 768px) {
    .nav-link {
        font-size: 16px;
    }
}
