header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #50b3a2;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    margin-left: 20px;
}

header nav {
    margin-right: 20px;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}
