/* Login.css */

.login-root {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 300px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: block;
}

.login-container h1 {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #50b3a2;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #338a70;
}
